/*Background of page*/
body {
  background-color: rgb(168, 168, 177);
  margin:0;
}

/*Navigation and Header*/
header {
  background-color: #040023;
  display: flex;
  flex-direction: column;
}

header section h1 {
  font-size: 40px;
}

header h2 {
  font-size: 35px;
}

header h1,h2 {
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lightgray;
  text-align: center;
  margin: 0%;
}

header nav {
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color: lightgray;
  flex-direction: row;
  text-align: center;
}

header nav a {
  padding-right: 5px;
}

header nav h3 {
  padding-top: 10px;
  margin: 0px;
}

/*Images*/
.profile-pic {
  width: 100%;
  height: auto;
}

.beth-pic {
  width: 100%;
  height: auto;
}

.project-pic {
  width:100%;
  height: auto;
}

.project-head {
  font-size: 17px;
  color: #010649;
}

/*Class for the horizontal rules*/
  /*Between header and about me*/
.hr-hug-top {
  margin-top: 0px;
  background-color: rgb(59, 18, 241);
  height: 10px;
  width: 95%;
  border-radius: 60px;
}

  /*Section separators*/
.hr-bold {
  background-color: #04094F;
  height: 12px;
  width: 85%;
  border-radius: 55px;
  margin: 0 auto;
  text-align: center;
}

/*Footer will have the same color scheme as header, but will be smaller, to the left*/

.footer {
  background-color: #040023;
  text-align: left;
  color: lightgrey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  height: 35px;
} 

/*Typography*/

main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main h2 {
  font-size: 32px;
  color: #010649;
  padding-bottom: 10px;
}

main h3 {
  font-size: 30px;
  color: #010649;
}

main p {
  font-size: 17px;
  color: #151C84;
}

main a {
  font-size: 17px;
}

/*Mobile-first styling*/

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin:10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/*pseudo-classed links will be colored light green for link, yellow for visited, pink for hover, orange for active*/

a:link { color: lightgreen; }
a:visited { color: yellow; }
a:hover { color: pink; }
a:active { color: orange;}
a {
  text-decoration: none;
}

/*Form styling*/

form label {
  display: block;
}

form input, form textarea {
  width: 100%;
}

form textarea {
  height: 150px;
  margin-bottom: 0px;
}

form button {
  margin: 10px 0px;
  border-radius: 15px;
  background-color: #151C84;
  color: rgb(168, 168, 177);
}

/*Desktop format*/

@media all and (min-width: 800px) {
  
  section {
    padding: 0 10%;
  }

  .group {
    display: flex;
    flex-direction: row;
  }

  /*Navigation for Desktop*/

  header nav {
    text-align: right;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    }
}